@import "./../../../../common/sass/variables";
.btn {
    font-family: inherit;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    margin: 20px 32px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 50px;
    box-shadow: none;
    background-color: $buttonBackground;
    color: $Text;
    background-position: right center;
    transition: all 750ms ease;
    background-image: linear-gradient(90deg, #8224e3 0, #a968ec 50%, #8224e3 100%);
    background-size: 200%;
    display: inline-block;
    text-align: center;
    font-weight: normal;
    transition-property:background-position;
}

.btn:hover {
    background-position:0% 0%;
}

.btn:active {
color:black;
}

.btn:disabled {
    color: #d2d5db;
    background: #6c7589;
    cursor: not-allowed;
}


.red {
    background: red;
}
.red:hover{
    background: darkred;
}
.red:focus {
    outline: none;
    box-shadow: 0 0 0 4px Salmon;
}