@import '../../common/sass/variables.scss';
@import '../../common/sass/media.scss';
.paginator {
  display: flex;
}
.pageNum {
  padding: 5px 8px;
  font-family: $NunitoFont;
  color: $Text;
  cursor: pointer;
  @include d-media(xs) {
    font-size: 1rem;
  }

  &:hover {
    background: $buttonBackground;
  }

  &:active {
    position: relative;
    top: 6px;
    box-shadow: 0 0 $buttonBackground;
    background: $buttonBackground;
  }
}
.activePage {
  font-weight: bold;
  background: $buttonBackground;
}
