@import '../../common/sass/variables.scss';

.inputWrapper {
  width: 100%;
  position: relative;
  margin-bottom: 35px;

  .input {
    font-size: inherit;
    line-height: 26px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    min-width: 200px;
    border: 1px solid #e7edf2;
    padding: 1rem 4em 1rem 2rem;
    width: 100%;
    font-family: $NunitoFont;
    color: black;

    &:hover {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }

    &:focus {
      outline: none;
      color: black;
    }
  }

  .togglePassBtn {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../../common/assets/svg/login-eye.svg');
    background-size: cover;
    position: absolute;
    content: '';
    top: 30%;
    right: 3em;
    cursor: pointer;
  }
  .error {
    position: absolute;
    content: '';
    left: 0;
    top: 60px;
    width: 130%;
    color: $Text;
    font-family: $NunitoFont;
  }
}
