@import '../../common/sass/variables.scss';
@import '../../common/sass/media.scss';

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 20px;
  display: flex;
  background: $backgrForPacks;
  @include d-media(xs) {
    margin: 0;
  }
}
