@import '../../common/sass/variables';


.textField {
  cursor: pointer;
  font-size: 2rem;
  font-family: $QuicksandFont;

  &:hover {
    color: grey;
  }
}

.inputField {
  background-color: transparent !important;
  font-size: 2rem !important;
  color: $Text !important;
  font-family: $QuicksandFont !important;
  border: none !important;
  padding: 0 !important;
}
