@import "../../../common/sass/variables.scss";
@import "../../../common/sass/mixins.scss";

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table thead tr {
  color: #ffffff;
  font-weight: bold;
  background: $activeLinkBcgr;
}

table tbody tr:nth-child(2n) {
  position: relative;
  background: $backgr;

}

table tbody tr:hover {
  background: rgba(102, 98, 98, .6);
}

.tableHeader {
  cursor: pointer;
}

th {
  padding: 19px;
  max-width: 300px;
}

td {
  padding: 13px;
  text-align: center;
  max-width: 300px;
  overflow: hidden;
}

.btns {
  display: flex;
  justify-content: space-between;

  & button {
    font-weight: normal;
    border-radius: 0;
    width: 60px;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}