@import "../../../common/sass/variables.scss";
@import "../../../common/sass/mixins.scss";

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  table-layout: fixed;
}

table thead tr {
  color: $Text;
  font-weight: bold;
  background: $activeLinkBcgr;
  width: 100%;
}

table tbody tr:nth-child(2n) {
  position: relative;
  background: $backgr;

}

table tbody tr {
  width: 100%;
}

table tbody tr:hover {
  background: rgba(102, 98, 98, .6);
  cursor: pointer;
}

.tableHeader {
  cursor: pointer;
}

th {
  padding: 19px;
  max-width: 150px;

  .value {
    position: relative;

    &:after {
      @include triangle;
      border-bottom: 8px solid $buttonBackground;
      right: -20px;
      top: 0;
    }

    &:before {
      @include triangle;
      border-top: 8px solid $buttonBackground;
      right: -20px;
      bottom: 0;
    }
  }

}

td {

  max-width: 150px;
  padding: 13px;

  &:last-child {
    width: 220px;
    display: flex;
    justify-content: space-between;
  }

  .cell {
    height: 36px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    line-height: 1.8;
  }

}

.btns {
  display: flex;
  justify-content: space-between;
  width: 220px;

  & button {
    font-weight: normal;
    border-radius: 0;
    width: 60px;
    margin-right: 5px;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}