@import "../../common/sass/variables.scss";

.wrapper {
  width: 80%;
  height: 100%;
  position: relative;
  margin: 0 100px;
  display: flex;
  background: $backgrForPacks;
  padding: 30px;
  flex-direction: column;
  .btn{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 25%;
  }
}

.cursor{
  cursor: pointer;
}