@import '../../common/sass/media.scss';
@import '../../common/sass/variables.scss';



.bckgrImage {
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-image: url('../../common/assets/images/bck1.jpg');
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
box-shadow: inset 0 0 2000px 170px rgba(0, 0, 0, 1);

  @include d-media(xs) {
    box-shadow: inset 0 100px 1700px rgb(0 0 0);
  }
}
/* .appWrapper{
 
} */

.mainContainer {
  max-width: 1200px;
  min-height: 50vh;
 position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* background: $backgrForPacks; */
  padding: 0 15px;
  margin: 90px auto 90px auto;
  @include d-media(xs) {
    margin: 70px auto 70px auto;
  }
}

.pageContainer{
  background: $backgrForPacks;
  padding: 20px 45px;
  min-width: 60%;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  @include d-media(md) {
    min-width: 80%;
  }
  @include d-media(sm) {
    padding: 20px 15px;
  }
  @include d-media(xs) {
    min-width: 100%;
  }
}

.defaultError {
  position: absolute;
  color: rgba(254, 254, 255, 0.9);
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 1.2rem;
  left: 15%;
  transform: translate(-50%, 50%);
  bottom: 120px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 8px;
  background: rgba(208, 41, 41, 0.3);
  
}


h2 {
  color: $Text;
  line-height: 1.5;
  font-family: $QuicksandFont;
  font-weight: 700;
  z-index: 1;
}

div {
  color: $Text;
  font-family: $NunitoFont;
  font-weight: 200;
  font-size: 1.143rem;
}