$Text: #fff;
$buttonBackground: #8224e3;
$formTextColor: #626c72;
$backgr: rgb(102 98 98 / 40%);
$backgrForPacks: rgb(0 0 0 / 80%);
$activeLinkBcgr: rgb(46 139 87 / 30%);
$QuicksandFont: 'Quicksand', verdana, sans-serif;
$NunitoFont: 'Nunito Sans', arial, sans-serif;
