$Text: #fff;
$buttonBackground: #8224e3;
$formTextColor: #626c72;
$backgr: rgba(102, 98, 98, 0.4);
$backgrForPacks: rgba(0, 0, 0, 0.8);
$activeLinkBcgr: rgba(46, 139, 87, 0.3);
$QuicksandFont: 'Quicksand', Verdana, sans-serif;
$NunitoFont: 'Nunito Sans', Arial, sans-serif;
