@import "../../sass/variables";

.modalWrapper {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background: $backgrForPacks;
  top: 0;
  left: 0;
  z-index: 5;
  

  .modalBlock {
    position: absolute;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #99ff99 0%, #ffffcc 100%);
    border-radius: 14px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    .title{
      align-self: center;
    }
    .buttons{
      margin-bottom: 15px;
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      
      button{
        width: 70px;
        margin-right: 5px;
        font-family: $QuicksandFont;
        &:last-child{
          margin-right: 0;
        }
      }
    }


  }
}