@import "./../../common/sass/variables";

.headerBlock {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 173px 0 173px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    max-width: 1140px;
    width: 100%;

    h2 {
      font-family: $QuicksandFont;
      color: $Text;
    }
  }
}