@import '../../common/sass/mixins.scss';
@import '../../common/sass/variables.scss';

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  table-layout: fixed;
}

table thead tr {
  color: $Text;
  font-weight: bold;
  background: $activeLinkBcgr;
}

table tbody tr:nth-child(2n) {
  position: relative;
  background: $backgr;
}
.tableRowPointer {
  cursor: pointer;
}

table tbody tr:hover {
  background: rgba(102, 98, 98, 0.6);
}

.tableHeader {
  cursor: pointer;
}

th {
  padding: 19px;
  .headerContent {
    position: relative;
  }
  .sortArrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    right: 0;
  }
  .sortArrowUp {
    border-top: 8px solid $buttonBackground;
    top: 0;
  }
  .sortArrowDown {
    bottom: 0;
    border-bottom: 8px solid $buttonBackground;
  }
}

td {
  padding: 13px 0px;

  &:last-child {
    display: flex;
    justify-content: center;
  }

  .cell {
    height: 36px;
    overflow: hidden;
    text-align: center;
    line-height: 1.8;
    margin: 0 25px;
  }
}

.btns {
  & button {
    font-weight: normal;
    border-radius: 0;
    margin-right: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    min-width: 58px;
  }
}
