@import '../../common/sass/media.scss';
@import '../../common/sass/variables.scss';

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  table-layout: fixed;
}

table thead tr {
  color: $Text;
  font-weight: bold;
  background: $activeLinkBcgr;
}

table tbody tr:nth-child(2n) {
  position: relative;
  background: $backgr;
}
.tableRowPointer {
  cursor: pointer;
}

table tbody tr:hover {
  background: rgba(102, 98, 98, 0.6);
}

.tableHeader {
  cursor: pointer;
}

th {
  padding: 15px 5px;
  .headerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-weight: 600;
    .tableTitle {
      margin-right: 10px;
    }
    .sortButtons {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .sortArrow {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
      }
      .sortArrowUp {
        border-top: 8px solid $buttonBackground;
      }
      .sortArrowDown {
        border-bottom: 8px solid $buttonBackground;
      }
    }
  }
}

td {
  padding: 13px 0px;
  .cell {
    height: 36px;
    overflow: hidden;
    text-align: center;
    line-height: 1.8;
    margin: 0 25px;
    text-overflow: ellipsis;
  }
}

.btns {
  display: flex;
  width: 100%;
  & div {
    flex-grow: 1;
    & button {
      font-weight: normal;
      border-radius: 0;
      margin-right: 5px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      /* cursor: pointer; */
      /* min-width: 58px; */
    }
  }
}

@include d-media(xs) {
  th {
    font-size: 12px;
    font-weight: 400;

    .tableTitle {
      font-size: 12px;
      font-weight: 400;
    }
  }
  td {
    padding: 5px 0;
    .cell {
      margin: 0 5px;
      text-align: left;
      font-size: 12px;
      height: 15px;
      line-height: 1;
    }
  }
}
.smallWidth {
  @include d-media(xs) {
    width: 30px;
  }
}
