@import '../../common/sass/media.scss';

.sliderWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .sliderValues {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    @include d-media(xs) {
      font-size: 1 rem;
      padding-top: 0;
    }
  }
}
