*, *:before, *:after {
    box-sizing: border-box;
}

.appWrapper {
    background-image: url('./common/assets/images/bck1.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 2000px 170px rgba(0, 0, 0, 1);

}

.mainBlock {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.err {
    position: absolute;
    color: rgba(254, 254, 255, 0.7);
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 1.2rem;
    left: 50%;
    transform: translate(-50%, 50%);
    top: 70px;
    font-weight: 700;
    padding: 10px 30px;
    background: rgba(208, 41, 41, 0.3);
}