@import '../../common/sass/variables.scss';
@import '../../common/sass/media.scss';
.wrapper {
  width: 80%;
  height: 100%;
  position: relative;
  margin: 0 100px;
  display: flex;
  /* background: $backgrForPacks; */
  /* padding: 30px; */
  flex-direction: column;
  @include d-media(sm) {
    width: 100%;
    margin: 0 20px;
    @include d-media(xs) {
      margin: 0 10px;
    }
  }
  .btn {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 25%;
  }
}

.cursor {
  cursor: pointer;
}
.addButton {
  margin-bottom: 25px;
  padding: 1rem 5rem;
  @include d-media(sm) {
    min-width: 90px;
    padding: 0.5rem 1rem;
  }
}

.title{
  font-size: 1.8rem;
  padding-bottom: 15px;
}