@import '../../common/sass/variables.scss';
@import '../../common/sass/media.scss';

.usersPage {
  width: 70%;
  height: 100%;
  position: relative;
  .title {
    font-size: 1.8rem;
  }
}
.usersContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px;
}
