@import "../../../sass/variables";

.learnPackModalWrapper {
  .answerBlock {
    display: flex;
    align-items: center;
    color: black;
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
    .btn {
      width: 70px;
    }

    .answer {


    }
  }
}