@import '../../common/sass/variables.scss';
@import '../../common/sass/media.scss';

.profileWrapper {
  width: 60%;
  height: 100%;
  position: relative;
  margin: 0 100px;
  display: flex;
  background: $backgrForPacks;
  flex-direction: column;
  padding: 30px;
  @include d-media(xs) {
    width: 100%;
    margin: 0 15px;
    background: rgba(0, 0, 0, 0.6);
  }

  .avatarBlock {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 55px;
  }

  .profileInfo {
    padding-left: 40px;
    padding-bottom: 25px;
    @include d-media(sm) {
      padding-left: 0;
      overflow: hidden;
    }

    .info {
      display: flex;
      flex-direction: column;

      span {
        padding-top: 10px;
      }
    }
  }
}