@import '../../common/sass/variables.scss';
@import '../../common/sass/media.scss';

.profileWrapper {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  
  @include d-media(xs) {
    width: 100%;
  }

  .avatarBlock {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 55px;
  }

  .profileInfo {
    padding-bottom: 25px;
    @include d-media(sm) {
      padding-left: 0;
      overflow: hidden;
    }

    .info {
      display: flex;
      flex-direction: column;

      span {
        padding-top: 10px;
      }
    }
  }
}