@import '../../common/sass/media';
@import '../../common/sass/variables';

.sortButtons {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .sortArrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }

  .sortArrowUp {
    border-top: 8px solid $buttonBackground;
  }

  .sortArrowDown {
    border-bottom: 8px solid $buttonBackground;
  }
}

.disabled{
  pointer-events: none;
  opacity: 0.4;
}